/vendor/
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/public/downloads/
